# Development Environment Configuration
NODE_ENV=development

# MongoDB - With Authentication

#----$$ MONGODB_URI=mongodb://flowbot:f4l88owb0t@103.95.119.188:27017/flowbot?authSource=flowbot
# MONGODB_URI=mongodb://bots:b0t5bots@103.95.119.188:27017/bots?authSource=bots

# MONGODB_URI=mongodb://bots:b0t5bots@127.0.0.1:27017/bots
MONGODB_URI=mongodb://localhost:27017/bots
 
# Server Configuration
PORT=3001
 
# JWT Secret (Change in production!)
JWT_SECRET=dev-secret-key-change-in-production-12345

# CORS Settings
FRONTEND_URL=http://localhost:5173


# ?? Meta / Facebook Embedded Signup (WhatsApp Business) ??
FB_APP_ID=717787580246105 
FB_APP_SECRET=c41c91d2acfc024e7bc881940dee2177
FB_GRAPH_VERSION=v20.0
FB_WEBHOOK_VERIFY_TOKEN=ish5elbykan2mxc14fz37tdp9orgwvjq
 